/*  your css code here. If applicable */
*{background-color: rgb(204, 204, 204);}
#playlist{border:1px black solid;
		 border-radius:10px;}
.audi{background-color: rgb(255, 255, 255); }
h1{text-align:center;}
h2{text-align:center;}
.mishra{background-color:white;}
ul>li{list-style-type:none;}