/*  your css code here. If applicable */
*{background-color: rgb(204, 204, 204);}
h1{text-align:center;}
h2{text-align:center;}
.mishra{background-color:white;}
ul>li{list-style-type:none;}
.my{border-height:100px;
	border-width:50px;
   }