/*  your css code here. If applicable */

body{background-color: rgb(204, 204, 204);
	 font-family:sans-serif;
 }
.playlist{text-decoration:none;
		  font-size:20px;
		 color:white;}
h1 {
    color: #000000;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
  }
h2{
    color:black;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    margin-top: 0px;
  }
.playlist {
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #000000;
  }
.playlist 2 {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #000000;
  }
 .playlist li {
    padding-bottom: 10px;
  }
  
  .playlist a:hover {
    color: #cccccc;
  }
  
   .player_one {background-color: rgb(255, 255, 255); 
    width: 100%;
  }
  
  .player_two{background-color: rgb(255, 255, 255); 
    width: 100%;
  }
p{color:black;
 font-style:bolder;}
a{text-decoration:none;}
li{list-style-type:none;}